<strong>Recuperando a senh</strong>

<p>Solicitação de recuperaão de senha para o email {{ email }} </p>

<p>Para continuar utilize o token {{ token }} ou clique no link: </p>

<a href="{{ link }}"> </a>